main {
    flex: 1 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.brand-logo {
    padding-left: 20px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.page-footer {
    padding-top: 0px;
}

.flashes h4 {
    line-height: 2;
    padding: 10px;
    max-width: 500px;
}

hr {
    margin: 20px;
    height: 5px;
    border: 0;
}

@media screen and (max-width: 600px) {
  .card-image {
    display: none;
}}
