{% extends "base.html" %}
{% block content %} 

<div class="row">
    <h3 class="center-align cyan-text text-darken-3">BOOKS 4readers</h3>
</div>

{% for book in books %}
  <div class="col s12 m7">
    <div class="card horizontal">
            <div class="card-image ">
                <img src="{{ book.book_image}}">
            </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title cyan-text text-darken-3"><b>{{ book.book_title }} by {{ book.book_author }}</b></span>
                <br>
                <p><b>Genre:</b> <em>{{ book.genre_name }}</em></p>
                <br>
                <p>{{ book.book_description }}</p>
            </div>
            <div class="card-action">
                <p><b>Book suggested by:</b> <em>{{ book.added_by }}</em></p>
            {% if session.user|lower == book.added_by|lower %}     
                 <p><a href="" class="btn-small teal">Done</a>
                <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn-small orange darken-2">Edit</a></p>
            {% endif %}
            </div>

        </div>
    </div>
    <div class="card-panel col s12 m8 offset-m2">
        <div class="row ">
            <div class="input-field col s12">
                <i class="fas fa-pen prefix cyan-text text-darken-3"></i>
                <textarea id="comment" name="comment" class="materialize-textarea validate"></textarea>
                <label for="comment">Comment</label>
            </div>
        </div>
        <div class="row">
            <button type="submit" name="send-comment" id="send-comment" class="col s12 btn-large cyan darken-3 text-shadow">
                Post comment <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
     </div>
  </div>
    {% for comment in book_comments %}
        <p>{{ comment.from }}: {{ comment.comment }}</p>
    {% endfor %}

<hr class="cyan-text text-darken-3">

{% endfor %} 

{% endblock %}