{% extends "base.html" %} 
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align cyan-text text-darken-3">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>

      <div class="row">
        <div class="col s12">
            <p class="center-align">
                <a href="{{ url_for('get_books') }}" class="btn-small teal text-shadow">Search for books <i class="fas fa-plus-square"></i></a> 
                 <a href="{{ url_for('add_book') }}" class="btn-small teal text-shadow">Add a book <i class="fas fa-plus-square"></i></a> 
            </p>
            <p class="center-align">
                 <a href="{{ url_for('login') }}" class="btn-small cyan darken-3 text-shadow">Log Out<i class="fas fa-sign-out-alt"></i> </a> 
            </p>
        </div>
    </div>
	

     
{% endblock %}
